# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional

# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/

# Additional Ruby/bundler ignore for when you run: bundle install
/vendor

# Ignore temporary directory
/tmp

# Specific ignore for GitHub Pages
# GitHub Pages will always use its own deployed version of pages-gem 
# This means GitHub Pages will NOT use your Gemfile.lock and therefore it is
# counterproductive to check this file into the repository.
# Details at https://github.com/github/pages-gem/issues/768
Gemfile.lock

# Ignore working directory for penguinclass.com legacy site mirroring
/legacy_mirror

# ignore files from local OS or legacy website use
.user.ini
desktop.ini
Thumbs.db
version.txt
web.config

# avoid disclosing accounts, users, passwords, tokens, secrets
/archive/legacy-website/Penguin/Penguin\ web\ page\ information.doc

# avoid disclosing Personally Identifiable Information (PII)
/archive/legacy-website/2008_roster.xls
/archive/legacy-website/SLPF_-__2009_Paid_Membership_List_To_IPCDA_5-27-09.xls
*.csv

# ignore redundant files/internal backups (also contain PII)
/archive/legacy-website/Penguin/
/archive/legacy-website/Penguin_web_dec2010/
/archive/legacy-website/~$ll_2007.doc
