vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Dec 2006 16:15:16 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|images/web/Bud&Sue.JPG.html images/web/DSC_0053.JPG.html images/web/DSC_0087.JPG.html images/web/DSC_0042.JPG.html images/web/DSC_0077.JPG.html images/web/DSC_0083.JPG.html images/web/Kelly's.jpg.html images/web/readjr.jpg.html images/web/DSC_0032.JPG.html images/web/DSC_0044.JPG.html images/web/DSC_0050.JPG.html images/web/index.html images/web/rachel.JPG.html images/web/DSC_0033.JPG.html images/web/DSC_0039.JPG.html images/web/DSC_0040.JPG.html images/web/DSC_0074.JPG.html images/web/DSC_0085.JPG.html images/web/Jonathan.jpg.html images/web/DSC_0044_c.jpg.html images/web/DSC_0081.JPG.html images/web/tot.jpg.html
vti_author:SR|LPS\\krafft
vti_modifiedby:SR|LPS\\krafft
vti_timecreated:TR|29 Jan 2010 20:22:33 -0000
vti_cacheddtm:TX|29 Jan 2010 20:22:33 -0000
vti_filesize:IR|1563
vti_cachedlinkinfo:VX|S|movie.gif
vti_cachedsvcrellinks:VX|FSUS|images/web/resources/movie.gif
