vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Dec 2006 21:10:17 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|web_album/Various\\ Pictures\\ 005.jpg.html web_album/Oysters_\\ 004.jpg.html web_album/Various\\ Pictures\\ 006.jpg.html web_album/Various\\ Pictures\\ 007.jpg.html web_album/Various\\ Pictures\\ 008.jpg.html web_album/Various\\ Pictures\\ 003.jpg.html web_album/Various\\ Pictures\\ 004.jpg.html web_album/Various\\ Pictures\\ 010.jpg.html
vti_author:SR|LPS\\krafft
vti_modifiedby:SR|LPS\\krafft
vti_timecreated:TR|29 Jan 2010 20:22:56 -0000
vti_cacheddtm:TX|29 Jan 2010 20:22:56 -0000
vti_filesize:IR|1563
vti_cachedlinkinfo:VX|S|movie.gif
vti_cachedsvcrellinks:VX|FSUS|web_album/resources/movie.gif
